USE [MOVIE_DATA]
GO
/****** Object:  Table [dbo].[WANGPIAO_INFO]    Script Date: 04/14/2014 20:00:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WANGPIAO_INFO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[WANGPIAO_INFO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MOVIE_ID] [nvarchar](500) NULL,
	[MOVIE_NAME] [nvarchar](500) NULL,
	[ZONGCHANGCI] [nvarchar](500) NULL,
	[TONGJICHANGCI] [nvarchar](500) NULL,
	[CHANGJUN] [nvarchar](500) NULL,
	[SHANGZUOLV] [nvarchar](500) NULL,
	[RENCI] [nvarchar](500) NULL,
	[PIAOJIA] [nvarchar](500) NULL,
	[PIAOFANG] [nvarchar](500) NULL,
	[RECORD_TIME] [datetime] NULL,
 CONSTRAINT [PK_WANGPIAO_INFO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[MTIME_MOVIE_STATUS]    Script Date: 04/14/2014 20:00:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MTIME_MOVIE_STATUS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MTIME_MOVIE_STATUS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MOVIE_ID] [nvarchar](500) NULL,
	[RATE] [nvarchar](500) NULL,
	[WANT] [nvarchar](500) NULL,
	[TOTAL_BOX] [nvarchar](500) NULL,
	[STATUS] [nvarchar](500) NULL,
	[BAIDU_7_DAY_OVERALL] [nvarchar](500) NULL,
	[BAIDU_7_DAY_MOBILE] [nvarchar](500) NULL,
	[BAIDU_30_DAY_OVERALL] [nvarchar](500) NULL,
	[BAIDU_30_DAY_MOBILE] [nvarchar](500) NULL,
	[RECORD_TIME] [datetime] NULL,
	[LAST_UPDATE_TIME] [datetime] NULL,
 CONSTRAINT [PK_MTIME_MOVIE_STATUS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[MTIME_MOVIE_INFO]    Script Date: 04/14/2014 20:00:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MTIME_MOVIE_INFO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MTIME_MOVIE_INFO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MOVIE_ID] [nvarchar](500) NULL,
	[CN_NAME] [nvarchar](500) NULL,
	[EN_NAME] [nvarchar](500) NULL,
	[DISTRICTS] [nvarchar](500) NULL,
	[DIRECTOR] [nvarchar](500) NULL,
	[DIRECTOR_EN] [nvarchar](500) NULL,
	[ACTORS] [nvarchar](max) NULL,
	[COMPANYS] [nvarchar](max) NULL,
	[RECORD_TIME] [datetime] NULL,
 CONSTRAINT [PK_MTIME_MOVIE_INFO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[ENTGROUP_MOVIE_INFO]    Script Date: 04/14/2014 20:00:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ENTGROUP_MOVIE_INFO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ENTGROUP_MOVIE_INFO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MOVIE_ID] [nvarchar](50) NULL,
	[MOVIE_NAME_CN] [nvarchar](500) NULL,
	[MOVIE_NAME_EN] [nvarchar](500) NULL,
	[RELEASE_DATE] [datetime] NULL,
	[START_DATE] [datetime] NULL,
	[END_DATE] [datetime] NULL,
	[WEEKLY_BOX] [int] NULL,
	[TOTAL_BOX] [int] NULL,
	[UNIT] [nvarchar](50) NULL,
	[RECORD_TIME] [datetime] NULL,
 CONSTRAINT [PK_ENTGROUP_MOVIE_INFO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
